.recent-transactions {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.transaction {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--orange-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-icon img {
  width: 25px;
  height: 25px;
}

.transaction-details {
  flex: 1;
  margin-left: 17px;
}

.transaction-title {
  color: var(--box-text);
  font-size: 16px;
  font-weight: 500;
}

.transaction-date {
  color: var(--light-blue);
  font-size: 15px;
  margin-top: 5px;
}

.transaction-amount {
  font-weight: 500;
  font-size: 16px;
}

.income {
  color: var(--income);
}

.expense {
  color: var(--expense);
}
