.credit-card {
  box-sizing: border-box;
  width: 100%;
  min-width: 265px;
  max-width: 265px;
  font-family: "Lato";
  color: #343c6a;
  position: relative;
  border: 1px solid var(--border);
  border-radius: 25px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-balance {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-balance span {
  font-size: 11px;
  color: var(--light-blue);
}

.card-balance h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.card-details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-details span {
  font-size: 11px;
  color: var(--light-blue);
}

.card-details h4 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

.card-number {
  margin-top: 15px;
  margin-bottom: -7px;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
}

.card-chip {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
}

.card-chip img {
  width: 27px;
  height: auto;
}

.card-logo {
  position: absolute;
  right: 25px;
  bottom: 15px;
  z-index: 1;
}

.card-logo img {
  width: 33px;
  height: auto;
}

.card-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid var(--border);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 50px;
  background-color: none;
}

.card-bottom-colored {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 50px;
  background-color: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (min-width: 1200px) {
  .credit-card {
    min-width: 365px;
    max-width: 365px;
    height: 235px;
  }

  .card-balance h3 {
    font-size: 24px;
  }

  .card-details span,
  .card-balance span {
    font-size: 12px;
  }

  .card-details h4 {
    font-size: 16px;
  }

  .card-number {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 22px;
  }

  .card-bottom,
  .card-bottom-colored {
    height: 70px;
  }

  .card-chip img {
    width: 35px;
  }

  .card-logo {
    bottom: 20px;
  }

  .card-logo img {
    width: 44px;
  }
}
